body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
main{
    width: 50%;
    height: 10rem;
    margin: 0 auto;
    text-align: center;
    /* background-color: aqua; */
    /* align-self: center; */
}
input{
    border: solid 2px gold;
    border-radius: 10px;
    width: 200px;
    height: 20px;
    
}
#contry{
    color: gold;
}
h1{
    border-bottom: solid 2px gold;
    padding-bottom: 10px;
}